*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gold;
// @media (até aqual tamanho vc quer aplicar aquele estilo)
    @media (max-width:800px){
        background-color: rgb(241, 111, 191);
    }
}

h1{
    color: darkblue;
    //só vai aparecer quando a largura da tela está entre 500 e 900
    @media (min-width: 500px) and (max-width: 900px){
        color: darkgreen;
    }
}

p{
    border: sienna solid ;
    width: 50vw;
    //max-width - largura maxima
    @media (max-width:800px){
        display: none;
    }

}

img{
    width: 60vw;
}

.chuchu{
    width: 300px;
    height: 300px;
    background-color: aquamarine;

    @media (max-width:800px){
        width: 100vw;
    }
}

.cenoura{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}