.item{ // div
    border: solid rgb(4, 110, 4);
}

.container{
    border: solid tomato;
    // ativa o flexbox
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; padrão, alinha no inicio do eixo principal */
  /* justify-content:flex-end; alinha no final do eixo principal */
  /* justify-content: center; alinha no meio do eixo principal */
  /* espaçamento dos itens */
  /* justify-content:space-between; espaço entre os elementos */
  /* justify-content: space-around; espaço ao redor dos elementos */
  /* justify-content: space-evenly; espaço constante (um espaço igual distribuindo os elemntos 
  iguakmente dentro do container */
}

.item2{
    border: solid palevioletred;
}
.container2{
    border: solid purple ;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
     /* align-items:
  align-items: stretch; esticado, do começo ao fim do eixo 
  /* align-items:flex-start; coloca os elementos no começo do eixo cruzado (em cima) */
  /* align-items:flex-end; coloca os elementos no final do eixo cruzado (em baixo)  */
  /* align-items:center; coloca os elementos no meio do eixo cruzado  */
}


.container3{
  border: solid red;
  display: flex;
  //define a direção em que os itens vão se organizar
  //flex-direction: row; //padrão, todos os item eles iram ficar alinhados no eixo x, horizontal, "em linha", um ao lado do outro
  //flex-direction: row-reverse;// Os itens são dispostos em uma linha horizontal, mas da direita para a esquerda.
  flex-direction: column;// alinhados em coluna, um abaixo do outro
  //flex-direction: column-reverse;// os itens serao alinhados de cima para baixo


}

.item3{
  border: solid rgb(64, 64, 236);
}